/.pytest_cache
/.vscode
/Exercise Files
/venv
/__pycache__
test/__pycache__/__init__.cpython-39.pyc
test/__pycache__/test_PageSpider.cpython-39-pytest-6.1.2.pyc
test/utilities/__pycache__/__init__.cpython-39.pyc
test/utilities/__pycache__/test_database_utilities.cpython-39-pytest-6.1.2.pyc
test/utilities/__pycache__/test_url_utilities.cpython-39-pytest-6.1.2.pyc
utilities/__pycache__/__init__.cpython-39.pyc
utilities/__pycache__/database_utilities.cpython-39.pyc
utilities/__pycache__/url_utilities.cpython-39.pyc
*.pyc
